.content_about{
    display: flex;
    padding-top: 100px;
    margin-right: 200px;
    padding-bottom: 100px;
}
.content_about_text{
    padding-left: 80px;
    padding-right: 80px;
}
.text_about_title{
    font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    padding-top: 100px ;
} 
.text_about_3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}
.text_about_4{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
